.Btc-calculator {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

.Btc-calculator-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: gray;
}
